* {
    font-family: "Roboto", sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 10% 3em;
    background-color: #1f2937;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

ul {
    display: flex;
    gap: 24px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.subtext {
    font-size: 18px;
    color: #e5e7eb;
}

a {
    text-decoration: none;
}

.hero {
    display: flex;
    background-color: #1f2937;
    justify-content: space-between;
    align-items: center;
    padding: 0 10% 5%;
    gap: 5%;
    flex-wrap: wrap;
}

.overview {
    flex-basis: 450px;
}

.title {
    font-size: 48px;
    color: #f9faf8;
    font-weight: bolder;
}

.hero-signup {
    color: #f9faf8;
    background-color: #3882f6;
    font-size: 18px;
    font-weight: bold;
    padding: 8px 32px;
    margin: 12px 0;
    border-radius: 8px;
    border: none;
}

.hero-image {
    width: 300px;
}